body {
	font-family: 'Poppins', sans-serif;
	background-color: #FAFAFA;
}

a {
	color: #fff;
}

a:hover {
	color: #B0BEC5;
	text-decoration: none;
}

.container {
	width: 75%;
}

.primary-title {
	font-weight: bold;
}

.secondary-title {
	letter-spacing: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.btn {
	color: #fff;
	background-color: #da4a38;
}

.sel {
	color: grey;
	font-weight: bold;
	background-color: #eaeaea;
	border: 1px solid transparent;
	padding: 7px 7px;
}

.table thead th {
	border: none;
}

.centred {
	text-align: center;
}

.region {
	color: #343a40;
	font-weight: bold;
}

.confirmed {
	color: #e53935;
	text-align: center;
	font-weight: bold;
}

.recovered {
	color: #689F38;
	text-align: center;
	font-weight: bold;
}

.deceased {
	color: #b71c1c;
	text-align: center;
	font-weight: bold;
}

.increment {
	display:inline-block;
	padding-left: 5px;
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
}

.up_red {
	display:inline-block;
    border-bottom:8px solid #b71c1c;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    vertical-align:middle;
}

.up_light_red {
	display:inline-block;
    border-bottom:8px solid #e53935;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    vertical-align:middle;
}

.up_yellow {
	display:inline-block;
    border-bottom:8px solid #fd0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    vertical-align:middle;
}

.up_green {
	display:inline-block;
    border-bottom:8px solid #090;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    vertical-align:middle;
}

.footer {
	background-color: #343a40;
	color: #fff;
	padding: 2rem 12rem 2rem 12rem;
}

.footer-info {
	display: flex;
    justify-content: space-between;
    margin-top: 2rem;
   	max-width: 70rem;
	margin: auto;
	padding: 3rem 0 3rem 0;
}

.footer-info .sources {
	display: flex;
	flex-direction: column;
}

.author-social a {
	padding: 0.5rem 1rem 0.5rem 0;
}

.footer-text {
	text-align: justify;
	max-width: 70rem;
	margin: auto;
	padding-top: 3rem;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 768px;
	}
}